*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.header{
    display: flex;
    justify-content: center;
}

.menu-bar{
    background-color: #1B152B;
    width: 304px;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5px;
    border-radius: 47px;
    margin-top: 16px;
}

.header-logo {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header-logo > span{
    color: #fff;
    font-size: 10.7px;
    line-height: 12.99px;
    font-weight: 700;
    letter-spacing: 0.7px;

}

.header-logo > img{
    width: 14.55px;
    height: 12.82px;
}

.hero-title{
    margin-top: 16px;
    
}

.hero-title > h1{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.hero-description {
    text-align: center;
    color: #7A7D9C;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.intro{
    margin: 10px 15px;
    padding: 20px;
    box-shadow: rgba(61, 61, 64, 0.08) 3px 3px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.intro-label{
    margin:10px 0;
    background-color: #C7A0F9;
    border-radius: 47px;
    width: 97px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;

}

.intro-description{
    margin-left: 15px;
    margin-right: 15px;
}

.intro-img{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    margin-top: 50px;
}

.intro-img > img{
    width: 270px;
    height: auto;
    border-radius: 8px;
}
.intro-header{
    letter-spacing: 0.125rem;
    line-height: 1.9rem;
}
.intor-article{
    color: rgba(61, 61, 61, 0.78);
    font-size: x-large;
    line-height: 1.5rem;
}

.tabs{

    margin:40px 10px 0px 10px;
    padding: 20px 10px
}


.tabs-section {
    display: flex;
    gap: 12px;
    overflow: hidden;
}
.tabs-section p:nth-child(1){
    background-color: #7A7D9C;
    padding: 6.5px 9px;
    border-radius: 2rem;
    align-self: center;
    width: fit-content;
    white-space: nowrap;
    color:white;
    font-weight: lighter;
}
.tabs-section p{
    background-color: #e5e5e5;
    padding: 6.5px 9px;
    border-radius: 2rem;
    align-self: center;
    width: fit-content;
    white-space: nowrap;
    color: #2f2f2f;
    font-weight: lighter;
}



.article{
    margin: 10px 12px;
    padding: 20px;
    box-shadow: rgba(61, 61, 64, 0.08) 3px 3px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.article-label{
    margin:10px 0;
    background-color: #C7A0F9;
    border-radius: 47px;
    width: 97px;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;

}

.article-description{
    margin-left: 15px;
    margin-right: 15px;
}

.article-img{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    margin-top: 50px;
}

.article-img > img{
    width: 270px;
    height: auto;
    border-radius: 8px;
}
.article-header{
    letter-spacing: 0.125rem;
    line-height: 0.9rem;
    font-size: medium;
}
.article-article{
    color: #3d3d3d;
}
